*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-color: transparent;
}

.webgl
{
    left: 0;
    outline: none;
}

.info {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    border-color: white;
}

.container {

    width: 100%;
    height: 100vh;

}